<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/img/favicon_io/site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        body {
            font-family: 'Chakra Petch', sans-serif;
            background-color: #DCE9F1;
            overflow-x: hidden;
            text-transform: uppercase;
        }

        .card {
            background-color: white;
            /* border-radius: 50%; */
        }

        .card-body {
            background-color: white;
            /* border-radius: 25%; */

        }

        img {
            border-radius: 50%;
        }

        #team {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .fas {
            text-decoration: none;
            color: black;
        }

        .fa-brands {
            color: black;
        }

        .ourmentordiv {
            /* Default margin */
            margin-right: 40.625rem;
        }

        @media screen and (max-width: 992px) {

            /* Medium screens */
            .ourmentordiv {
                margin-right: 20.625rem;
            }
        }

        @media screen and (max-width: 768px) {

            /* Small screens */
            .ourmentordiv {
                margin-right: 10.625rem;
            }
        }
    </style>
</head>

<body>
    <!-- <div class="py-2 mt-3 bg-light">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-auto">
                    <div class="col-auto d-flex align-items-center">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-arrow-left mr-2"></i>Back
                        </button>
                    </div>
                </div>
    
                <div class="col-auto text-center mx-auto">
                    <h2 class="m-0"><b>OUR MENTOR</b></h2>
                </div>
    
            </div>
        </div>
    </div> -->


    <div class="py-2 mt-3 bg-light">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-auto">
                    <div class="col-auto d-flex align-items-center">
                        <a href="/" title="Details">
                            <button type="button" class="btn btn-outline-info"
                                style="border-color: black; color:black; font-size: 1rem;">
                                <b><i class="fa-solid fa-angles-left me-2"></i>BACK HOME</b>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-auto text-center ourmentordiv">
                    <div class="header-wrapper">
                        <h2 class="m-0"><b>OUR MENTOR</b></h2>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- Team Section -->
    <div class="row mt-2">
        <!-- <div class="col-md-12 col-lg-4 mb-4 text-center">
        </div> -->
        <div class="col-md-6 col-lg-3 col-sm-6 mx-auto text-center mt-2">
            <div class="card shadow-sm border-0">

                <img src="/static/assets/img/profile/0.jpg" height="420px" width="257px" class="card-img-top" alt="Sir">
                <div class="card-body">
                    <h3 class="card-title mb-0">Dr. R. R. KARWA</h3>
                    <p class="card-text text-muted">Professor @PRMIT&R</p>
                    <p class="card-text">Experienced teacher with a demonstrated history of working in the higher
                        education industry. Strong education professional with a Ph.D. focused in ML/NLP.</p>
                    <a href="https://mitra.ac.in/computer-Science/faculty-details/154" title="Details">
                        <button type="button" class="btn btn-outline-info"
                            style="border-color: black; color:black; background-color: ; font-size: 1rem;">
                            <b><i class="fas fa-envelope me-2"></i>CONTACT</b>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-12 col-lg-4 mb-4 text-center">
        </div> -->
    </div>
    <div class="container-fluid" id="team">
        <div class="row mt-5" id="team">
            <div class="col-md-12 text-center">
                <div class="py-2 bg-light" style="">
                    <div class="container-fluid text-center">
                        <h2 class=""><b>THE DEVELOPER'S TEAM</b></h2>
                    </div>
                </div>
            </div>

            <!-- profile -->
            <!-- <div class="col-md-12 col-lg-4 mb-4 text-center">
            </div> -->
            <div class="col-md-6 col-lg-2 col-sm-6 mx-auto mb-4 text-center mt-3">
                <div class="card shadow-sm border-0">
                    <img src="/static/assets/img/profile/1.jpg" height="276px" width="207px" class="card-img-top"
                        alt="IMG">
                    <div class="card-body">
                        <h5 class="card-title mb-0">YASH J. INGOLE</h5>
                        <p class="card-text text-muted">Student</p>
                        <p class="card-text">Enrollment Id: 191310286</p>
                        <a href="https://github.com/yashingole9881"><i class="fa-brands fa-github"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>

                        <a href="http://www.linkedin.com/in/yash-ingole"><i class="fa-brands fa-linkedin"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href="mailto:yashingole25@gmail.com"><i class="fas fa-envelope"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href="https://www.instagram.com/yash_ingole25/"><i class="fa-brands fa-square-instagram"
                                style="font-size: 1.5rem;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mx-auto mb-4 text-center mt-3">
                <div class="card shadow-sm border-0">
                    <img src="/static/assets/img/profile/2.jpeg" height="276px" width="207px" class="card-img-top"
                        alt="John">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Dhawal P. Ramdham</h5>
                        <p class="card-text text-muted">Student</p>
                        <p class="card-text">Enrollment Id: 191310317</p>
                        <a href="https://github.com/DhawalR"><i class="fa-brands fa-github"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>

                        <a href="https://www.linkedin.com/in/dhawal-ramdham-8472621a1"><i class="fa-brands fa-linkedin"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href="mailto:ramdham.dhawal@gmail.com"><i class="fas fa-envelope"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram" style="font-size: 1.5rem;"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mx-auto mb-4 text-center mt-3">
                <div class="card shadow-sm border-0">
                    <img src="/static/assets/img/profile/3.jpg" height="276px" width="207px" class="card-img-top"
                        alt="John">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Pranjal P. Hejib</h5>
                        <p class="card-text text-muted">Student</p>
                        <p class="card-text">Enrollment Id: 191310422</p>
                        <a href="https://github.com/pranjalhejib"><i class="fa-brands fa-github"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>

                        <a href="https://www.linkedin.com/in/pranjalhejib/"><i class="fa-brands fa-linkedin"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href="mailto:hejibpranjal@gmail.com"><i class="fas fa-envelope"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href="https://www.instagram.com/pranjalhejib/"><i class="fa-brands fa-square-instagram"
                                style="font-size: 1.5rem;"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mx-auto mb-4 text-center mt-3">
                <div class="card shadow-sm border-0">
                    <img src="/static/assets/img/profile/4.jpg" height="276px" width="207px" class="card-img-top"
                        alt="John">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Pratik S. Rohankar</h5>
                        <p class="card-text text-muted">Student</p>
                        <p class="card-text">Enrollment Id: 191310424</p>
                        <a href="https://github.com/"><i class="fa-brands fa-github"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>

                        <a href="http://www.linkedin.com/in/"><i class="fa-brands fa-linkedin"
                                style="font-size:1.5rem; padding-right: 10px;"></i></a>
                        <a href="mailto:pratikrohankar191@gmail.com"><i class="fas fa-envelope"
                                style="font-size:1.5rem;padding-right: 10px;"></i></a>
                        <a href="https://www.instagram.com/rohankar.p/"><i class="fa-brands fa-square-instagram"
                                style="font-size: 1.5rem;"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Footer ======= -->
    <footer class="pt-5 mb-3" style="background-color: #DCE9F1;">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <span>Guided by</span>
                    <a href="" style="text-decoration:none;">Dr. R. R. Karwa</a><br>
                    <p>&copy; 2023 PRMIT&R. All rights reserved.</p>

                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>