<nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <i class=""></i> DASHBOARD >>
              </a>
            </li>
            
            <li class="nav-title" style="color:red">DATASET</li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <i class=""></i> DATASET OVERVIEW >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'datasetDetails' %}">
                <i class=""></i>DATASET DETAILS >></a>
            </li>
            

            <li class="nav-item">
              <a class="nav-link" href="{% url 'datasamples' %}">
                <i class=" "></i>DATASET SAMPLES >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'statsanalysis' %}">
                <i class=""></i> STATISTICAL ANALYSIS >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'distanalysis' %}">
                <i class=""></i> FREQUENCY ANALYSIS >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'distanalysis1' %}">
                <i class=""></i> DISTRIB. ANALYSIS >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dataexplore' %}">
                <i class=""></i> DATA EXPLORATION >></a>
            </li>
            <hr>
            <li class="nav-title" style="color:red">MACHINE LEARNING</li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'classification' %}">
                <i class=""></i> CLASSIFICATION >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'comparison' %}">
                <i class=""></i> COMPARITIVE STUDY >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'getpredictions' %}">
                <i class=""></i> PREDICTIONS >></a>
            </li>
            

            <!-- <li class="nav-item">
              <a class="nav-link" href="">
                <i class=""></i> DATA VISULIZATION </a>
            </li> -->
          </ul>
        </nav>