 <header style="text-align: center" class="app-header navbar">  
         <h1 style="text-align: center">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <img src="../static/img/diabetes.png" width=50 height="50" />
         Diabetes Prediction using Machine Learning
        <img src="../static/img/diabetes.png" width=50 height="50" />
        </h1>
    </header>