<nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">  <!--dashboard-->
                <i class=""></i> DASHBOARD >>
              </a>
            </li>
            
            <li class="nav-title" style="color:red">DATASET</li>
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'datasamples' %}"> <!-- datasetDetails-->
                <i class=""></i>DATASET DETAILS >></a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'statsanalysis' %}"> <!-- statsanalysis-->
                <i class=""></i> STATISTICAL ANALYSIS >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'distanalysis' %}"> <!-- distanalysis -->
                <i class=""></i> FREQUENCY ANALYSIS >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'distanalysis1' %}"> <!-- distanalysis1 -->
                <i class=""></i> DISTRIB. ANALYSIS >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'comat' %}"> <!-- distanalysis1 -->
                <i class=""></i>CORELATION MATRIX >></a>
            </li>
            <hr>
            <li class="nav-title" style="color:red">MACHINE LEARNING</li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'classification' %}"> <!-- classification-->
                <i class=""></i> CLASSIFICATION >></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'comparison' %}"> <!--comparison-->
                <i class=""></i> COMPARITIVE STUDY >></a>
            </li>
           

            <!-- <li class="nav-item">
              <a class="nav-link" href="">
                <i class=""></i> DATA VISULIZATION </a>
            </li> -->
          </ul>
        </nav>